.button_style {
    display: inline-block;
    margin: 0.5vh;
    padding: 0.5vh;
    width: 13.5vw;
    max-height: 5vh;
    font-size: 1.5vh;
    font-weight: 600;
    text-align: center;
    border-radius: 5px;
}

.data-source {
    width: 100vw;
    font-size: 1vh;
    padding: 0.2vh;
}

@media only screen and (min-width: 0px) and (max-width: 500px){
    .button_style {
        font-size: 1vh;
        width: 15vw;
        border-radius: 5px;
        padding: 3px;
        margin: 3px;
        margin-bottom: 0;
    }
    .data-source{
        font-size: 1vh;
        text-align:left;
        padding: 0;
        margin: 0; 
    }
}